{% extends 'account/base.htm' %}

{% load static %}

{% block content %}
<br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <p>Are you sure you want to delete "{{ item }}" ?</p>
                <form action="{% url 'delete-order' item.id %}" method="POST">
                    {% csrf_token %}
                    <a class="btn btn-outline-info btn-sm" href="{% url 'home' %}">Cancel</a>
                    <input class="btn btn-outline-danger btn-sm" type="submit" name="Confirm" value="Confirm">
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}